{% extends 'retemp/master.html' %}
{% load static %}
{% block content %}
      <center>
        <div class=" box col-lg-4 col-sm-12 m- auto text-center  product-logo">
                        
          <div class="card-body py-5 ">
              <img src="{% static 'reimage/ios/applelogo.png' %}" alt="" class="img-fluid">
              <div >
                <!-- <span>special offer</span>
                  <h3>upto 50% off</h3> -->
                  <!-- <a href="#" class="btn info">shop now</a> -->
              </div>
        
          </div>
        
        </div></center>
    
    
    
    
    
    










    <section class="menu" id="menu">


        <div class="box-container">
    
          <div class="box">
            <div class="image">
              <img src="{% static 'reimage/ios/13max.webp' %}" class="img-fluid" alt="">
              <a href="#" class="fas fa-shopping-cart"></a>
            </div>
    
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>APPLE iPhone 13 Pro max (Sierra blue, 256 GB)</h3>
              <span class="price">₹1,10,999</span><br>
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
    
    
            </div>
          </div>
    
          <div class="box">
            <div class="image">
              <img src="{% static 'reimage/ios/green.png' %}" class="img-fluid" alt="">
              <a href="#" class="fas fa-shopping-cart"></a>
    
            </div>
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>APPLE iPhone 13 Pro (Alpine Green, 256 GB)</h3>
              <span class="price">₹92,999</span><br>
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
    
            </div>
          </div>
    
          <div class="box">
            <div class="image">
              <img src="{% static 'reimage/ios/ip171.jpg' %}" class="img-fluid" alt="">
              <a href="#" class="fas fa-shopping-cart"></a>
    
            </div>
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>APPLE iPhone 13 (Red, 128 GB)</h3>
              <span class="price">₹73,999</span><br>
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
            </div>
          </div>
    
          <div class="box">
            <div class="image">
              <img src="{% static 'reimage/ios/13mini.png' %}" class="img-fluid" alt="" width="200px">
              <a href="#" class="fas fa-shopping-cart"></a>
    
            </div>
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>APPLE iPhone 13 Mini (Blue, 128 GB)</h3>
              <span class="price">₹64,999</span><br>
    
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
            </div>
          </div>
    
          <div class="box">
            <div class="image" style="height: 350px;">
              <img src="{% static 'reimage/ios/promax.jpg' %}" class="img-fluid" alt="" width="200px">
              <a href="#" class="fas fa-shopping-cart"></a>
    
            </div>
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>APPLE iPhone 12 Pro Max (Silver, 512 GB)</h3>
              <span class="price">₹93,999</span><br>
    
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
            </div>
          </div>
    
          <div class="box">
            <div class="image">
              <img src="{% static 'reimage/ios/12pro.jpg' %}" class="img-fluid" alt="" width="200px">
              <a href="#" class="fas fa-shopping-cart"></a>
    
            </div>
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>APPLE iPhone 12 Pro(Pacific Blue, 256 GB</h3>
              <span class="price">88,999</span><br>
    
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
            </div>
          </div>
    
          <div class="box">
            <div class="image">
              <img src="{% static 'reimage/ios/wh.png' %}" class="img-fluid" alt="" width="200px">
              <a href="#" class="fas fa-shopping-cart"></a>
    
            </div>
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>APPLE iPhone 12 (White, 128 GB)</h3>
              <span class="price">₹59,999</span><br>
    
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
            </div>
          </div>
    
          <div class="box">
            <div class="image" style="height: 340px; " >
              <img src="{% static 'reimage/ios/12mini.png' %}" class="img-fluid" alt="" width="">
              <a href="#" class="fas fa-shopping-cart"></a>
    
            </div>
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>APPLE iPhone 12 Mini (Green, 64 GB)</h3>
              <span class="price">₹43,999</span><br>
    
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
            </div>
          </div>
    
          <div class="box">
            <div class="image">
              <img src="{% static 'reimage/ios/11promax1.png' %}" class="img-fluid" alt="" width="200px">
              <a href="#" class="fas fa-shopping-cart"></a>
    
            </div>
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>iphone 11 Pro Max (silver, 64 GB)</h3>
              <span class="price">₹73,999</span><br>
    
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
            </div>
          </div>
    
          <div class="box">
            <div class="image">
              <img src="{% static 'reimage/ios/11pro.png' %}" class="img-fluid" alt="" style="width:200px ;">
              <a href="#" class="fas fa-shopping-cart"></a>
    
            </div>
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>APPLE iPhone 11 Pro(Space Grey, 256 GB)</h3>
              <span class="price">₹73,999</span><br>
    
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
            </div>
          </div>
    
          <div class="box">
            <div class="image">
              <img src="{% static 'reimage/ios/11.png' %}" class="img-fluid" alt="" width="200px">
              <a href="#" class="fas fa-shopping-cart"></a>
    
            </div>
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>APPLE iPhone 11 (Black, 128 GB)</h3>
              <span class="price">₹43,999</span><br>
    
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
            </div>
          </div>
    
          <div class="box">
            <div class="image">
              <img src="{% static 'reimage/ios/se2.png' %}" class="img-fluid" alt="" width="200px">
              <a href="#" class="fas fa-shopping-cart"></a>
    
            </div>
            <div class="content">
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>APPLE iPhone SE (White, 256 GB)</h3>
              <span class="price">₹37,999</span><br>
    
              <a href="#" class="btn"><button type="button" class="btn btn-outline-success">Buy now</button></a>
    
    
            </div>
          </div>
    
    
    
    
    
    
    
        </div>
    
      </section>



      <!-- signin -->

<div class="container-fluid py-5">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">SIGN IN</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <input type="text" id="signin_ph" placeholder="  Email or phone number">
          <input type="password" id="signin_pass" placeholder="  password">
          <label>forgot password?</label>
          <button type="button" class="btn btn-success px-5">sign in</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>


        </div>
        <div class="modal-footer">
          <p>By Signing in or creating an account you are agreeing to our
            <a href="">Terms Of Use</a> and our <a href="">privacy policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">create an account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" id="first_name" placeholder="  first name" >
          <input type="text" id="second_name" placeholder="  second name">
          <input type="email" id="email" placeholder="  Email">
          <input type="password" id="password" placeholder="  password">
          <input type="password" id="conf_pass" placeholder="  confirm password">
          <button type="button" class="btn btn-success px-5">sign in</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
          <div class="modal-footer py-5">
            <p>By Signing in or creating an account you are agreeing to our
              <a href="">Terms Of Use</a> and our <a href="">privacy policy</a>
            </p>
          </div>



        </div>
        </div>
        </div>
        </div>
</div>

    
{% endblock %}