{% extends 'seller_temp/sellermaster.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper ">
    <table class="ml-2">
        <thead>
        <tr>
        <th>ID</th>
            <th>PRODUCT_NAME</th>
            <th>PRICE</th>
            <th>QNTY</th>
        <th>CUSTOMER NAME</th>
        <th>ADRESS</th>
        <th>ORDER STATUS</th>
        <th>ACTION</th>
    
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>IPHONE 13</td>
            <td>59,990</td>
        <td>1</td>
        <td>Sonal kishore</td>
        <td>vattoly bazar,balussery,kozhikode</td>
        <td>dispatched</td>
        <td><button>delete</button> <button>update</button></td>
        </tr>
        
        </tbody>
    </table>
    </div>

{% endblock %}